@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans Condensed', sans-serif;
}

body {
	display: flex;
	justify-content: center;
}

.bannerText {
	font-size: 8vh;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	width: 65vw;
	margin-top: 5vh;
}

.textinput {}
