@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

nonprofit {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #8eb65d;
	width: 100vw;
}
nonprofit > #imgCont {
	display: flex;
	flex-direction: column;
	align-items: center;
}
nonprofit > #imgCont > img {
	width: 50vw;
}

nonprofit > div {
	background-color: #f9e4a5;
	width: 50vw;
}

nonprofit > #mainContent {
	padding: 5vh 8vh 5vh 8vh;
	min-height: 74vh;
}

nonprofit > #mainContent > #tableContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

nonprofit p {
	font-size: 3vh;
	padding-bottom: 3vh;
}

nonprofit h1 {
	font-size: 4vh;
	margin-bottom: 5vh;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.8vh;
}

ul {
	list-style-type: none;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

a:visited {
	color: #000;
	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bannerText {
	font-size: 7vh;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	width: 25vh;
	margin-top: 5vh;
}

.textinput {
	padding: 0.1em;
	margin-bottom: 0.2em;
}

.formbutton {
	padding: 0.1em;
	margin-bottom: 0.1em;
}

.navList {
	margin-top: 2.5vh;
	display: flex;
	flex-direction: row;
}

.navListItem {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 2.5vh;
	border-bottom: 1px solid transparent;
}

.navListItem:hover {
	border-bottom: 1px solid black;
}

.gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5vh;
	width: 65vw;
}

.gallery .kep {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5vh;
	width: 25vw;
}

.gallery .kep > p {
	font-size: 2vh;
	max-width: 50vw;
}

.gallery img {
	max-width: 25vw;
	min-width: 10vw;
	max-height: 40vh;
}

.upload-link {
	font-size: 2.8vh;
	margin: 2.5vh 0 4vh 0;
	border-bottom: 1px solid transparent;
}

.upload-link:hover {
	border-bottom: 1px solid black;
}
